Xft.dpi:80
Xft.antialias:1
Xft.hinting:1
Xft.hintstyle:hintfull
Xft.rgba:rgb

urxvt*font:xft:Inconsolata:size=13,xft:Terminus
URxvt.scrollBar:off
URxvt.background:Black
URxvt.foreground:grey80
URxvt.depth:32
URxvt.background: rgba:2222/2222/2222/eeee
URxvt.blurRadius: 1x128
URxvt*letterSpace: -1

URxvt.perl-ext-common : default,matcher
URxvt.urlLauncher     : chromium-browser
URxvt.matcher.button  : 1
